<template>
  <div className="App nds-d-flex nds-w-screen nds-items-center nds-h-screen nds-flex-col nds-justify-center">
    <my-input 
    v-model="value" 
    leftIcon="nds-icon-search" 
    errorText=""
    ></my-input>
    <p class="nds-primary-color">value : {{value}}</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: '',
    };
  },
}
</script>
