.text-field__input:focus-visible {
    outline: none;
  }
  .text-field__input:focus-visible,
  .text-field__input:focus,
  .text-field__input:active {
  outline-color: transparent;
  }              
  .nds-background-transparent{
    background-color: transparent;
  }